{% extends "base.html" %}

{% block title %}pagina inesistente{% endblock %}

{% block content %}
<h1>Qualcosa &egrave; andato storto</h1>
<p>La pagina richiesta non esiste oppure l'azione richiesta potrebbe non essere pi&ugrave; disponibile!</p>
{% endblock %}
