<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />

	<title>Cloudun.org Newsletter Service - {% block title %}{% endblock %}</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>

    <style>
    html {
        width: 100%;
        height: 100%;
    }
    body {
        color: #222222;
        font-family: 'Forum', cursive;
        font-size: 22px;
        background-image: -webkit-linear-gradient(top, #ffffff, #ecd0aa);
        background-image: -moz-linear-gradient(top, #ffffff, #ecd0aa);
        background-image: -o-linear-gradient(top, #ffffff, #ecd0aa);
        background-image: -ms-linear-gradient(top, #ffffff, #ecd0aa);
        background-image: linear-gradient(top, #ffffff, #ecd0aa);
    }
    h1 {
        font-size: 64px;
    }
    .button {
        padding: 5px;
        font-size: 14px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    </style>
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
