<html><head><style type="text/css">td { border: solid 1px black; }</style></head><body><table>
<tr><th>Indirizzo</th><th>Attivo</th>{% for d in domains %}<th>{{ d }}</th>{% endfor %}</tr>
{% for s in subscribers %}<tr><td>{{ s.email }}</td><td>{% if s.exists %}SI{% else %}NO{% endif %}</td>{% for d in domains %}<td>{% if d in s.nodomains.all %}disattivo{% endif %}</td>{% endfor %}</tr>{% endfor %}
</table></body></html>
