{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}

  <input type="hidden" name="groups_id" value="{{ groups_id }}">

  <div>
    <fieldset class="module aligned ">
      <div class="form-row field-name">
        <div>
          <label class="required" for="addr">Indirizzi email:</label>
          {% spaceless %}
            <textarea id="addr" class="vLargeTextField" name="addr" required>
              {% for address in failed %}{{ address }}{% endfor %}
            </textarea>
          {% endspaceless %}
        </div>
      </div>
    </fieldset>

    <div class="submit-row">
      <input type="submit" value="Importa" class="default">
    </div>
  </div>
</form>

<script>
    var home_link = document.querySelectorAll( 'a[href="\/"]' );

    home_link = Array.prototype.slice.call( home_link, 0 );

    home_link.forEach( function(link) {
        link.href = "{% url 'admin:newsletter_newslettergroup_changelist' %}";
        link.innerHTML = "Torna ai gruppi";
    });
</script>

<style>
textarea#addr {
  display: block;
  height: 50vh;
  max-height: none;
  margin-top: 6px;
  max-width: none;
  width: 100%;
}
</style>
{% endblock %}
