<!DOCTYPE html>

<html>
<head>
	<title>Statistiche di invio</title>

	<style>
		html, body {
			font-family: monospace;
			margin: 0;
			padding: 0;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
		}

		td {
			border-bottom: solid 1px #EEEEEE;
			padding: 4px;
		}

		tr:hover td {
			background-color: #EEEEEE;
		}

		.pagination {
			display: flex;
			font-family: initial;
			justify-content: space-between;
			margin: 16px;
		}
	</style>
</head>

<body>

	<table>
		{% for metric in object_list %}
		<tr>
			<td>{{ metric.timestamp|date:"l d F - H:i:s.u" }}</td>

			{% if metric.subscriber %}
				<td>
					<a href="{% url 'admin:newsletter_subscriber_change' metric.subscriber.pk %}">{{ metric.subscriber }}</a>
				</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			<td>
				{% if metric.flag == 1 %}
					&#x2757;
				{% else %}
					&#x2705;
				{% endif %}
			</td>

			<td>{{ metric.message }}</td>
		</tr>
		{% endfor %}
	</table>

	{% if is_paginated %}
	<div class="pagination">
		{% if page_obj.has_previous %}
			<a href="?page=1">&laquo; inizio</a>
			<a href="?page={{ page_obj.previous_page_number }}">precedente</a>
		{% endif %}

		<span>pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">successiva</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">fine &raquo;</a>
		{% endif %}
	</div>
	{% endif %}

	</body>
</html>
