{% extends "base.html" %}

{% block title %}rimozione{% endblock %}

{% block content %}
    <h1>Newsletter {{ domain }}</h1>
    <p>
      {% if step == '1' %}
        <form action="" method="post">
            Confermi di voler rimuovere {{ partial_address }} dalla mailing list?
            <br><input type="submit" class="button" value="confermo">
            {% csrf_token %}
        </form>
      {% else %}
        {{ partial_address }} &egrave; stato rimosso correttamente dalla mailing list!
      {% endif %}
    </p>
{% endblock %}
